My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "csv_file",
              "inputDataFieldName": "Upload_CSV_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        0
      ],
      "id": "eab393f0-3e63-4c96-acc6-32c4404224c3",
      "name": "Send to Python via Flask"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=\"You are a business analyst. I am providing you with statistical data from a CSV file:{{ JSON.stringify($json.stats.numerical_summary) }} . Please write a professional business report. Include a summary of the trends and three actionable insights based on the mean and max values.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "02d6f89e-48b4-4124-8fbf-5064c718ae03",
      "name": "Generate Report via Gemini",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "OmxIzTSHFI9uDaXJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body['Email Address'] }}",
        "subject": "Report of Business Analysis wrt Data file",
        "message": "=Here is the desired pdf report of analysis on your data",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        16
      ],
      "id": "3dba6568-ec29-41bc-9c83-538ed4e2d2f2",
      "name": "Send a message",
      "webhookId": "7c038ceb-c103-47fb-872a-a068f7c9f1e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZZ2NoFGL847ro9Py",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "pdf_data",
        "options": {
          "fileName": "AI Analysis Report.pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1216,
        160
      ],
      "id": "3dd1f7a0-b333-45e9-9a70-f8157f6db486",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/generate-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gemini_text",
              "value": "={{ $json.content.parts[0].text }}"
            },
            {
              "name": "chart_data",
              "value": "={{ $('Send to Python via Flask').item.json.chart_data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        160
      ],
      "id": "445a5cbb-1741-49ac-8fea-e0d6ae3b03ab",
      "name": "Generate PDF "
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8fb46f83-d54f-453a-a51c-5e820828a5d8",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2c994ff8-cad6-45d3-8429-d0f94f2c23c3",
      "name": "Webhook",
      "webhookId": "8fb46f83-d54f-453a-a51c-5e820828a5d8"
    }
  ],
  "pinData": {},
  "connections": {
    "Send to Python via Flask": {
      "main": [
        [
          {
            "node": "Generate Report via Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report via Gemini": {
      "main": [
        [
          {
            "node": "Generate PDF ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF ": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Send to Python via Flask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4e758383-003b-48a5-96f7-dd76eeff7c02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9fdb03835d3564909db6234dbe03e482201d3db680e27eccfc7f4256963e1082"
  },
  "id": "Der9jBNAiBUAeiLc",
  "tags": []
}