My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/generate-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gemini_text",
              "value": "={{ $json.content.parts[0].text }}"
            },
            {
              "name": "chart_data",
              "value": "={{ $('Send to Python via Flask1').item.json.chart_data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        480
      ],
      "id": "7323c93b-0441-4bbd-b180-b017e7d5e316",
      "name": "Generate PDF"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8fb46f83-d54f-453a-a51c-5e820828a5d8",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        320
      ],
      "id": "fcc39efd-341f-4f7d-a71c-2fbc43db74ec",
      "name": "Webhook1",
      "webhookId": "8fb46f83-d54f-453a-a51c-5e820828a5d8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "csv_file",
              "inputDataFieldName": "Upload_CSV_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        320
      ],
      "id": "e1c89a80-c977-426a-842e-f8dc69907a48",
      "name": "Send to Python via Flask1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a business analyst. I am providing you with statistical data from a CSV file: {{ JSON.stringify($json.stats.numerical_summary) }}. Please write a professional business report. Include a summary of the trends and three actionable insights based on the mean and max values."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1408,
        320
      ],
      "id": "8d4042d1-c981-4086-950b-ff5512eeeaab",
      "name": "Generate Report via Gemini1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "SpFoZXG8aPlWeErq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "pdf_data",
        "options": {
          "fileName": "AI Analysis Report.pdf",
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2048,
        480
      ],
      "id": "4f9762eb-d64d-499a-9d4a-b179fdfb05c2",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook1').item.json.body['Email Address'] }}",
        "subject": "Your AI Data Analysis Report",
        "message": "Hi,\n\nPlease find attached your automated business intelligence report generated from the uploaded CSV dataset.\n\nBest regards,\nAI Data Analyst",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2352,
        336
      ],
      "id": "5ae7ab18-3e48-446a-8f60-8cfe159dab91",
      "name": "Send a message1",
      "webhookId": "7c038ceb-c103-47fb-872a-a068f7c9f1e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "LVcWRgYIwUcusJZ9",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Send to Python via Flask1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Python via Flask1": {
      "main": [
        [
          {
            "node": "Generate Report via Gemini1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report via Gemini1": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f6d159be-3220-4696-9004-1a6b1981911a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "429de11d3f710ab4c6caa982d2097394ba0a865110b1fa44754a806834fca316"
  },
  "id": "5jy8kq7YAxEx8HS5",
  "tags": []
}