n8n-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Data Analysis Portal",
        "formDescription": "Your file is being Analyzed, will be emailed soon.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload CSV file",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "8d55fcb3-cc1e-46a5-8f5b-06d0717840d6",
      "name": "Email and File Input",
      "webhookId": "c747ea24-d3ee-4a5b-b742-b129387744bf",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "csv_file",
              "inputDataFieldName": "Upload_CSV_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        0
      ],
      "id": "54e39019-9983-4c3a-9b2e-a615739accbe",
      "name": "Send to Python via Flask"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=\"You are a business analyst. I am providing you with statistical data from a CSV file:{{ JSON.stringify($json.stats.numerical_summary) }} . Please write a professional business report. Include a summary of the trends and three actionable insights based on the mean and max values.\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "adcf9a01-b6c0-4b98-ae96-90af0e891bba",
      "name": "Generate Report via Gemini",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "googlePalmApi": {
          "id": "Pgr7GEFSqPxyKvW8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Email and File Input').item.json['Email Address'] }}",
        "subject": "Report of Business Analysis wrt Data file",
        "message": "=Here is the desired pdf report of analysis on your data",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        16
      ],
      "id": "df66bb2e-22af-40c2-bb14-7eb5629a94d2",
      "name": "Send a message",
      "webhookId": "7c038ceb-c103-47fb-872a-a068f7c9f1e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "9ViRaKLogg4RWLk3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "pdf_data",
        "options": {
          "fileName": "AI Analysis Report.pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1216,
        160
      ],
      "id": "6c857b8a-a683-49c9-bfa7-b26c07e6a4ec",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/generate-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gemini_text",
              "value": "={{ $json.content.parts[0].text }}"
            },
            {
              "name": "chart_data",
              "value": "={{ $('Send to Python via Flask').item.json.chart_data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        160
      ],
      "id": "bc58bd3c-ba30-4a65-a7f5-d5e55882bc55",
      "name": "Generate PDF "
    }
  ],
  "pinData": {},
  "connections": {
    "Email and File Input": {
      "main": [
        [
          {
            "node": "Send to Python via Flask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Python via Flask": {
      "main": [
        [
          {
            "node": "Generate Report via Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report via Gemini": {
      "main": [
        [
          {
            "node": "Generate PDF ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF ": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be731c0c-6d4c-4f12-be25-9ccb5d9bb729",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd9dff49008684b25f47079765a7cbe1e8d6f5309855d46b369c07dc08fd6399"
  },
  "id": "78EulXPv6jIS6lEb",
  "tags": []
}